.accountCreateComponent{
    max-width: 800px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem !important;
}
.accountCreateTableComponent{
    //padding: 0 02.5rem 0 2.5rem;
    //height: 500px !important;
}